## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read data

In [2]:
data = pd.read_csv("creditcard.csv")
data.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
277895,167924.0,0.300629,0.636606,-1.154661,-0.112100,2.812262,3.734001,0.075595,0.801568,-0.695474,...,0.372907,1.190461,-0.216779,0.774413,-0.492061,0.264680,0.271751,0.203624,0.89,0
199187,132846.0,1.641222,-0.498853,-1.393131,0.834497,-0.688702,-1.795133,0.291740,-0.330858,1.105527,...,-0.100609,-0.448806,0.165355,0.795379,-0.278926,-0.159940,-0.043211,0.014075,173.36,0
81401,58916.0,1.307866,-0.590412,0.224069,-1.399025,-0.753239,-0.378356,-0.507799,-0.043039,2.004376,...,0.025436,0.371476,-0.288450,-0.483882,0.749423,0.214791,0.032119,0.010820,23.90,0
169803,119867.0,1.923973,-1.471071,-1.934325,-2.826038,-0.038499,0.325351,-0.410557,-0.007480,0.940314,...,-0.028528,0.636127,0.054141,-0.303486,0.107308,-0.590290,0.095309,-0.037714,106.59,0
146362,87630.0,-2.906238,2.612054,-1.443020,-3.011770,-0.087621,-0.890157,0.083349,1.289200,0.490229,...,-0.341628,-0.965836,-0.038924,-1.049444,0.401000,0.447980,0.474986,0.322695,1.00,0

### Exploratory data Analysis

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
data.shape

(284807, 31)

In [5]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
data['Time'].value_counts()

163152.0    36
64947.0     26
68780.0     25
3767.0      21
3770.0      20
            ..
127750.0     1
62260.0      1
62259.0      1
127753.0     1
172792.0     1
Name: Time, Length: 124592, dtype: int64

In [7]:
# distribution of legit transaction and fraudlent transaction
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
# Compare the values for both transactions
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Frauds transactions are more than the legit transactions

### Data Preprocessing

In [9]:
df = data.copy()

In [10]:
# separating the data for analysis and data sample creation
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [11]:
print("Fraud Transactions: ",fraud.shape)
print("Legit Transactions: ", legit.shape)

Fraud Transactions:  (492, 31)
Legit Transactions:  (284315, 31)

In [12]:
## Take a sample of atleast 90% more of the Fraud transaction to reduce biasness in the data
legit_sample = legit.sample(n=4920)

## Do for another datasets for federated learning
legit_sample1 = legit.sample(n=4000)

In [13]:
# Concatenante the legit sample and the fraud to create a less biased dataset
import random

dfs = [legit_sample, fraud]
random.shuffle(dfs)
new_df = pd.concat(dfs, axis=0)

## Do for another datasets for federated learning
dfs = [legit_sample1, fraud]
random.shuffle(dfs)
df1 = pd.concat(dfs, axis=0)


new_df.shape

(5412, 31)

In [14]:
df1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249590,154482.0,1.746605,-0.545550,-0.483680,1.232772,-0.264123,0.273284,-0.364155,-0.027547,0.942021,...,-0.001764,-0.086935,0.048072,-1.016527,-0.220094,-0.780525,0.052348,-0.005539,142.30,0
54974,46713.0,1.336838,0.692380,-0.901745,0.668803,0.591384,-0.959261,0.447262,-0.310032,-0.231143,...,-0.199868,-0.474599,-0.196735,-0.545424,0.709877,0.418257,-0.026538,0.036089,0.76,0
154044,100859.0,1.861214,-0.569462,0.296737,0.494490,-1.027626,-0.102729,-1.063309,0.109886,2.422101,...,-0.037266,0.194140,0.312201,-0.018381,-0.694141,0.420574,-0.045950,-0.049154,39.00,0
168684,119338.0,0.332627,-0.065374,-1.689199,-1.718060,0.961536,-2.139823,1.068075,-0.636745,-1.244927,...,0.743092,2.107384,-0.053771,0.054781,-1.183177,-0.071557,0.119932,0.380565,12.00,0
222583,143039.0,0.185899,0.199252,0.862224,1.531998,-0.855090,0.365416,1.016115,-0.636515,0.402349,...,0.042226,0.850039,0.271178,0.032274,-1.956105,0.336511,0.060427,-0.184857,245.41,0

In [15]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94868.857927,0.007171,0.030023,0.014116,0.002946,0.010176,0.016083,0.013681,0.021173,0.015715,...,-0.006658,-0.010129,-0.003519,0.005636,0.013522,0.005017,0.009404,0.001937,0.004132,85.072325
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
X = new_df.drop(columns = 'Class',axis = 1)
y = new_df['Class']

### Modelling

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, stratify = y, random_state = 23)
print(X_train.shape, X_test.shape, y_train.shape,y_test.shape)

(4329, 30) (1083, 30) (4329,) (1083,)

In [19]:
lr =  LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [20]:
preds = lr.predict(X_test)

In [ ]:
pred = accuracy_score(preds, y_test)
pred

In [ ]:
# Create new data out of the samples
new_df.to_csv("data1.csv")
df1.to_csv("credit.csv")

### Using SMOTE to solve data imbalance

In [ ]:
from typing import Counter
from imblearn.over_sampling import SMOTE

counter =  Counter(y_train)
print('Before:', counter)

# oversampling the dataset using SMOTE
smt = SMOTE()
x_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)

counter = Counter(y_train_sm)
print('After:'counter)